<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7-VU_GJIEzt1EqfEN02HZ5lhiVQqsOhw</string>
	<key>GCM_SENDER_ID</key>
	<string>850924075877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.desktopAppPos</string>
	<key>PROJECT_ID</key>
	<string>client-prayogi-spkahp</string>
	<key>STORAGE_BUCKET</key>
	<string>client-prayogi-spkahp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850924075877:ios:04ae8f4386e8d4d5aabf8c</string>
</dict>
</plist>